body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h4, h1, h2, h3, a, span {
  text-align: center;
  font-family: 'Roboto Mono', monospace;
}

p {
  font-family: 'Source Code Pro', monospace;
  text-align: center;
}

a, li {
  display: flex;
  align-items: center;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

ul {
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.container {
  border: 1px solid black;
  margin: auto;
  padding: 5%;
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 1px 1px 4px black;
}
.icon {
  height: 2rem;
  margin: 2px;
}

.skills {
  display: flex;
  flex-direction: column;
}

.home {
  flex-direction: row;
}

.profile-pic {
  border-radius: 50%;
  height: 10rem;
}

.social-media-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.social-media {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.about-me{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-card {
  width: 80%;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin: 2%;
}

.project-card ul {
  justify-content: space-around;
}

.project-description {
  width: 90%;
}
